<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Task1_Multiples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9401B8CB1C42278600D1A1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9401B8DF1C42278600D1A1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9401B8EA1C42278600D1A1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
